<div id="footer-container">
    <div id="footer-top">
        <div id="footer-top-left">
            <h2>Przykładowa Strona z poradami zdrowotnymi</h2>
            <p>Artykuły zamieszczone na tej stronie zostały wygenerowane przez sztuczną inteligencję (AI) i służą jedynie za przykład treści, która teorytcznie mogłaby znajdować się na stronie o tematyce dbania o zdrowie. Treści na tej stronie nie należy traktować jako profesjonalnej porady zdrowotnej. Przed podjęciem jakichkolwiek decyzji dotyczących zdrowia należy skontaktować się z lekarzem bądź wykwalifikowanym specjalistą. <u><b>Z informacji zamieszczonych na stronie korzystasz na WŁASNĄ ODPOWIEDZIALNOŚĆ!</b></u></p>
        </div>
        <div id="footer-top-right">
            <h2>Stack Technologiczny:</h2>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
        </div>
    </div>
    <div id="footer-bottom">
        <p>Autor Jan Bączkowski 123810 © 2025</p>
    </div>
</div>
@code {
    
}